<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Prueba Proyecto BDD</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">
      
        <!-- =======================================================
        * Template Name: Company - v2.0.1
        * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        
      </head>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/index.php"><span>Splinter </span>S.A.</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/index.php">Inicio</a></li>

          <li class="drop-down"><a href="">Herramientas</a>
            <ul>
              <li><a href="/about.php">Crear Itinerario</a></li>
              <li><a href="/team.php">Realizar Reserva</a></li>
              <li><a href="/testimonials.php">Comprar Entradas</a></li>

            </ul>
          </li>

          <li><a href="/artistas.php">Artistas</a></li>
          <li><a href="/portfolio.php">Hoteles</a></li>
          <li><a href="/pricing.php">Obras</a></li>
          <li><a href="/blog.php">Lugares</a></li>
          <li><a href="/index_E2.php">Consultas E2</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Registrarse</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Iniciar Sesion</a>
          </li>
        </ul>
      </div>

    </div>
  </header><!-- End Header -->